.card {
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
	border-radius: 16px;
	padding: 10px 12px;
	font-family: "Manrope", sans-serif;
	cursor: pointer;
	&:hover {
		.card__share {
			opacity: 1;
			pointer-events: all;
		}
	}
	&__img {
		margin-bottom: 15px;
		height: 150px;
		img {
			width: 100%;
			height: 100%;
			border-radius: 10px;
		}
	}
	&__heading {
		display: flex;
		justify-content: space-between;
	}
	&__share {
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 5px;
		opacity: 0;
		pointer-events: none;
		transition: opacity 0.2s ease-in-out;
		img {
			height: 20px;
			width: 20px;
		}
		background: rgba(#025595, 0.1);
		height: 36px;
		width: 36px;
	}
	&__price {
		color: var(--blueColor);
		font-size: 22px;
		font-weight: 800;
		margin-bottom: 15px;
	}
	&__descr {
		font-size: 14px;
		color: #787885;
		margin-bottom: 10px;
	}
	&__rating {
		display: flex;
		align-items: center;
		gap: 7px;
		margin-bottom: 10px;
	}
	&__rating-text {
		font-size: 13px;
		color: #7d7f82;
	}
	&__rating-reviews {
		padding-top: 2px;
		font-size: 13px;
		color: #7d7f82;
		font-weight: 400;
	}
	&__name {
		font-size: 18px;
		margin-bottom: 15px;
		font-weight: 600;
	}
	&__conditions {
		display: flex;
		align-items: center;
		margin-bottom: 5px;
		gap: 15px;
	}
	&__conditions-item {
		display: flex;
		align-items: center;
		color: #7d7f82;
		gap: 5px;
		svg {
			font-size: 20px;
		}
		span {
			font-size: 12px;
		}
	}
	&__address {
		color: #7d7f82;
		display: flex;
		align-items: center;
		gap: 5px;
		font-size: 13px;
		font-weight: 400;
		svg {
			font-size: 20px;
		}
	}
}
