.personal {
    &__container {
        position: relative;
    }

    &__content {
        transition: 0.2s ease-in-out;
    }

    &__wrapper {
        height: 100%;
        padding-bottom: 20px;
    }
    .ant-layout-sider-children {
        background-color: var(--whiteColor);
    }
    .ant-layout-sider-trigger {
        position: relative;
    }
}
