.singlepage {
    font-family: "Manrope", sans-serif;
    padding: 30px 0;
    &__container {
        display: grid;
        gap: 20px;
    }
    &__slider {
        display: flex;
        gap: 15px;
    }
    &__vertical-list {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    &__vertical-item {
        display: flex;
        max-width: 200px;
        height: 120px;

        img {
            width: 100%;
            object-fit: cover;
            filter: brightness(80%);
            cursor: pointer;
            transition: filter 0.2s ease-in-out;
        }
        &:hover {
            img {
                filter: brightness(100%);
            }
        }
        &--active {
            img {
                filter: brightness(100%);
            }
        }
    }
    &__img {
        width: 100%;
        height: 400px;
        img {
            width: 100%;
            height: 100%;
        }
    }
    &__title {
        font-size: 32px;
        margin-bottom: 10px;
    }
    &__rating {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        gap: 7px;
    }
    &__rating-reviews {
        font-size: 14px;
        color: #7d7f82;
    }
    &__rating-count {
        padding-top: 2px;
        font-size: 12px;
        color: #7d7f82;
        font-weight: 400;
    }
    &__heading {
        font-size: 18px;
        margin-bottom: 18px;
    }
    &__info-list {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-bottom: 20px;
    }
    &__moreinfo {
        border-bottom: 1px solid #e1e1e1;
        margin-bottom: 35px;
        padding-bottom: 35px;
    }
    &__conditions {
        display: flex;
        align-items: center;
        gap: 15px;
        margin-bottom: 12px;
    }
    &__conditions-item {
        display: flex;
        align-items: center;
        color: #7d7f82;
        gap: 5px;
    }
    &__address {
        color: #7d7f82;
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 13px;
        font-weight: 400;
        margin-bottom: 20px;
    }
    &__rented-price {
        font-size: 14px;
        margin-top: 20px;
    }
    &__info-item {
        list-style-position: inside;
        list-style-type: disc;
        font-size: 18px;
        font-size: 14px;
    }
    &__date-wrapper {
        gap: 30px;
        margin-bottom: 30px;
    }
    &__date-btn {
        padding: 5px 10px;
        display: inline-flex;
        align-items: center;
        gap: 15px;
        border-radius: 7px;
        cursor: pointer;
    }
    &__date-heading {
        margin-bottom: 7px;
        font-size: 13px;
    }
    &__date-col {
        font-size: 14px;
        font-weight: 600;
        border-radius: 10px;
    }
    &__date-days {
        display: inline-block;
        margin-left: 30px;
    }
    &__price {
        font-size: 32px;
        margin-bottom: 20px;
    }
    &__sale-price {
        font-size: 20px;
        color: #d9d9d9;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            height: 2px;
            width: 100%;
            background-color: #d9d9d9;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    &__btns {
        display: flex;
        gap: 20px;
    }
    &__btn {
        font-size: 20px;
    }
}
